body{
    margin-left: 20px;
}
.chat{
    background-color: rgb(138, 199, 251);
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}